{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block menu %}
    <li class="d-inline-block float-right">{% include 'partial/simple_search.html' %}</li>
{% endblock %}

{% block content %}
    <h1 class="text-uppercase text-info amatic-text">To do list</h1>
    <div class="row row-cols-1 row-cols-md-3">
        {% for issue in issues %}
            <div class="col mb-4">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header border-info a-text"><a class="text-success text-uppercase text-decoration-none"
                            href="{% url "issue_view" issue.pk %}">{{ issue.title }}</a>
                    </div>
                    <div class="card-body text-success">
                        <p class="card-text text-info">Type: {% for t in issue.type.all %}{{ t.type }}{% if not forloop.last %}, {% endif %}{% endfor %} | Status: {{ issue.status.status }}</p>
                        <p class="card-text">{{ issue.description }}</p>
                    </div>
                    <div class="card-footer bg-transparent border-info">
                        <p class="text-secondary">Created date: {{ issue.create_at|date:"d.m.Y" }}</p>
                        <div class="d-flex justify-content-around">
                            <p><a href="{% url "issue_update" issue.pk %}" class="btn btn-sm btn-info">Update</a></p>
                            <p><a href="{% url "issue_delete" issue.pk %}" class="btn btn-sm btn-info">Delete</a></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
