{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <li><a href="{% url "accounts:detail" user_obj.pk %}" class="font-weight-bold text-decoration-none">Cancel</a></li>
        <li><a href="{% url "accounts:change" user_obj.pk %}" class="font-weight-bold text-decoration-none">Edit Profile</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="text-secondary font-weight-bold amatic-text">Смена пароля</h1>
    {% url "accounts:password_change" user_obj.pk as action_url %}
    {% include 'partial/form.html' with action_url=action_url form_method="post" %}
{% endblock %}