{% extends 'base.html' %}

{% block title %}Редактировать пользователя{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <li><a href="{% url "accounts:detail" user_obj.pk %}" class="font-weight-bold text-decoration-none">Cancel</a>
        </li>
        <li><a href="{% url "accounts:password_change" user_obj.pk %}" class="font-weight-bold text-decoration-none">Change
            Password</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="amatic-text font-weight-bold text-secondary">Изменить личные данные</h1>
    <form action="{% url 'accounts:change' user_obj.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partial/form.html' with form=form fields_only=True %}
        {% include 'partial/form.html' with form=profile_form fields_only=True %}
        <br>
        <input class="btn btn btn-info font-weight-bold text-uppercase" type="submit" value="Submit">
        <a href="{% url "accounts:detail" user_obj.pk %}"
           class="text-uppercase font-weight-bold text-decoration-none btn btn btn-info ml-5">Cancel</a>
    </form>
    <p></p>
{% endblock %}