{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'project_view' project.pk %}" class="text-uppercase text-decoration-none">cancel</a></li>
{% endblock %}

{% block content %}
    <h2 class="d-flex justify-content-center amatic-text text-info">Вы уверены, что хотите этот проект </h2>
    <h1 class="d-flex justify-content-center amatic-text text-success">"{{ project.name }}"?</h1>
    <form action="{% url "project_delete" project.pk %}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
            <p class="mr-5"><input type="submit" value="YES" class="btn btn btn-info"></p>
            <p><a href="{% url "project_view" project.pk%}" class="btn btn btn-info text-uppercase">no</a> </p>
        </div>
    </form>
    <h3 class="d-flex justify-content-center text-success">Content: </h3>
    <p class="d-flex justify-content-center text-success">{{ project.description }}</p>
{% endblock %}
